<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hadi Komeili Profile</title>
</head>
<body>
<h1>Profile: Hadi Komeili</h1>
<h2>information</h2>
<ul>
    <li style="font-weight: bold;">First Name:</li>Hadi
    <li>Last Name: Komeili</li>
    <li>Phone Number: +989159638625</li>
    <li>e-mail: komeili.hadi@gmail.com</li>
    <li>Gender: Male</li>
</ul>
<h3>Image:</h3>
{% load static %}
<img src="{% static 'download.png' %}" alt="My image">
<h4>Skills:</h4>
<ul>
    <ol type="1">
        <li>Python Programing</li>
        <li>Climbing</li>
        <li>html</li>
    </ol>
</ul>
<h5>Social Media:</h5>
<a href="hnstagram.com">instagram</a>

</body>
</html>