<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body style="margin: 25px auto;padding: 5px; width:40%;text-align:center; background-color: darkgoldenrod; color: white; border-width: 20px;border-style: solid ;border-radius: 10%">
<h1>
  Register User
</h1>
<h2 style="font-size: large">Enter Your Profile</h2>
<form style=" padding: 50px; text-align: center; background-color: ">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>
    <label for="phone">Phone:</label><br>
    <input type="number" id="phone" name="phone"><br>
    <label for="gender">Choose Gender:</label><br>
    <select id="gender" name="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select><br>

    <label for="address">Address:</label><br>

<textarea id="address" name="address" rows="4" cols="20">
enter address here...
</textarea>

</form>

</body>
</html>